.course{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 24px 16px;
    border-right: 1px solid rgba(255,255,255,0.1);
}

.icon{
    background-color: rgba(255,255,255,0.1);
    color: #ffffff;
    height: 55px;
    width: 85px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

.home-heading{
    font-size: 15px;
    color: #ffffff;
}

.home-para{
    font-size: 15px;
    color: #ffffff;
}

.icon-img{
    height: 30px;
    width: 30px;
}

.content{
    padding-left: 15px;
}

#border{
    border: 0;
}